<app-header
    [ngClass]="{'header-with-sidebar': !sidebarCollapsed}"
    (OnToggleSidebar)="OnToggleSidebar()">
</app-header>

<div class="main-container" [ngClass]="{'sidebar-collapsed': sidebarCollapsed}">
    <app-sidebar class="sidebar"></app-sidebar>
    <div class="main-content">
        <!-- <app-navbar></app-navbar> -->
      <div style="margin-top: 10px">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>
