<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="my-0">Meus posts</h1>
  <a class="btn btn-primary" routerLink="/posts/novo"><i class="fa fa-plus"></i> Novo post</a>
</div>

<div class="portlet" [block-ui]="blockUi">
  <form novalidate>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <input type="text"
              class="form-control"
              placeholder="Busque aqui posts por título"
              [(ngModel)]="busca"
              name="busca"
              debounce (callback)="carregarTela()" />
          </div>
        </div>
      </div>
    </div>
  </form>

  <datagrid
    [data]="posts"
    [columns]="columns"
    [allowExports]="true"
    [showActionsColumn]="true"
    itemsPerPage=5
    [initialColumnToSort]="0">

    <ng-template actions-column let-row="row" let-rowIndex="rowIndex">
      <a class="btn btn-primary btn-sm mr-1" routerLink="/posts/{{row.id}}/edit"><i class="fa fa-edit"></i></a>
      <button class="btn btn-outline-danger btn-sm" (click)="excluir(row.id)"><i class="fa fa-trash"></i></button>
    </ng-template>

  </datagrid>
</div>
