<header>
  <div class="container-fluid">
    <div class="stack">
      <div class="stack-item" style="width: 84px;">
        <div class="d-flex flex-row align-items-center">
          <div class="menu-toggler mr-4 d-flex align-items-center">
            <i class="icon-menu icons" style="font-size: 24px;" (click)="ToggleSideBar()" [ngClass]="{'active': !sidebarCollapsed}"></i>
          </div>
        </div>
      </div>
      <div class="stack-item">
        <a class="logo" routerLink="/">
          <div class="d-flex flex-row align-items-center">
            <img class="logo-img" src="assets/img/logoTceWhite.png" />
            <span class="sitename">Posts</span>
          </div>
        </a>        
      </div>
      <div class="stack-item">
        <ul class="navbar-nav d-flex flex-row justify-content-end align-items-center">
          <li class="mx-1 d-flex align-items-center">
            <i class="icon-bell icons"></i>
          </li>
          <li class="mx-1 d-flex align-items-center">
            <i class="icon-settings icons"></i>
          </li>
          <li class="ml-1 d-flex align-items-center">
            <img src="assets/img/user2.png" style="height: 55px;" />
            <i class="fa fa-caret-down ml-1"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>