<app-blockchain-menu></app-blockchain-menu>

<div class="container">
  <h1>Cadeia de blocos</h1>
  <p>Cada card representa um bloco na cadeia. Clique no bloco para ver as transacoes dentro dele</p>
  <app-block-view
    *ngFor="let block of blocks"
    [block]='block'
    (click)="showTransactions(block)">

  </app-block-view>
</div>

<br><br>

<div class="container">
  <h1>Transacoes do bloco</h1>
  <app-transactions-table
    [transactions]="selectedBlock?.transactions">

  </app-transactions-table>
</div>
