.header-section {
  background: #85af3e;
}

.header-section h1 {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  align-content: center;
  font-size: em;
  color: #abcdef;
}

.menu-bar nav {
  background: linear-gradient(315deg, #0c4cad, #c5416d);
  height: 60px;
  padding: 0 100px;
}

.menu-bar nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-bar nav ul {
  list-style: none;
}

.menu-bar nav ul a {
  display: block;
  color: #faa;
  line-height: 60px;
  padding: 0 20px;
  text-decoration: none;
}

.menu-bar nav ul a.active {
  background: radial-gradient(#ff3311, #a66993);
  border-radius: 20px;
}
.menu-bar nav ul a:hover {
  background: radial-gradient(#a66993, #ff3311);
  border-radius: 20px;
}

section.sec1 {
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #aabedd, #ab7788);
  background-size: cover;
}


section.sec2 {
  padding: 50px 20px;
}

section.sec3 {
  width: 100%;
  // height: 100%;
  height: 100px;
  background: linear-gradient(315deg, #0c4cad, #c5416d);
  background-size: cover;
}

.header-focus {
  margin: 0 auto;
  padding: 0;
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#afadab, #2556aa);
}

.header-focus h1 {
  margin: 0;
  padding: 0;
  font-size: 4em;
  color: #a3a3af;
  text-transform: uppercase;
  transform: rotate(-20deg) skew(25deg);
  animation: animate 5s ease-in-out infinite;
}

@keyframes animate {
  0%, 100% {
    transform: rotate(-20deg) skew(25deg) translate(0, 0);
    text-shadow: -5px 5px 0 rgba(0,0,0,.2);
  }
  50% {
    transform: rotate(-20deg) skew(25deg) translate(50px, -50px);
    text-shadow: -50px 50px 0 rgba(0,0,0,.2);
    filter: blur(15px);
  }
}
