<div class="header-focus">
  <h1>Topo Navbar</h1>
</div>

<div class="menu-bar">
  <nav>
    <ul>
      <li><a routerLink="/tutorial-css" routerLinkActive="active">Home Style</a></li>
      <li><a routerLink="/tutorial-css/card">Card</a></li>
      <li><a routerLink="/tutorial-css/checkbox">Checkbox</a></li>
      <li><a routerLink="/tutorial-css/box">Box</a></li>
    </ul>
  </nav>
</div>

<section class="sec1"></section>
<section class="sec2"></section>
<section class="sec3"></section>
