<div class="alert alert-info" role="alert">
  Seja <b>bem-vindo</b> ao Sistema SiteName do TCE-RJ.
</div>
<a href="https://www.flaticon.com/">Flaticon</a>
<a href="https://www.freepik.com/search?dates=any&format=search&page=1&query=textures&sort=popular">Freepik</a>
<a href="https://dribbble.com/signup/new">Dibble</a>
<a href="https://www.awwwards.com/sites/pantone-color-of-the-year-2019">Awwwards</a>
<a href="https://color.adobe.com/pt/create">Color Adobe</a>
<a href="https://coolors.co/browser/latest/7">Coolors - palhetas de cores</a>
<a href="https://www.flaticon.com/">Flaticon - otimos icones</a>
<a href="https://helpx.adobe.com/in/illustrator/how-to/create-apply-patterns.html">Helpx Adobe Ilustrator</a>
<a href="https://theblog.adobe.com/free-textures-and-patterns/">The Blog Adobe</a>
<a href="https://brasil.uxdesign.cc/acessibilidade-o-impacto-das-cores-bfc0d60420db">Acessibilidade</a>
<a href="https://coletivoux.com/dalt%C3%B4nicos-tamb%C3%A9m-s%C3%A3o-usu%C3%A1rios-4f03ca40c30d">Daltonismo e UX</a>
<a href="https://www.tecmundo.com.br/extensao-para-navegadores/79630-extensao-chrome-ajusta-cores-paginas-web-para-daltonicos.htm">TechMundo - Color Enhancer</a>
<a href="https://meiobit.com/316709/color-enhancer-extensao-do-chrome-para-daltonicos/">Meiobit - Color Enhancer</a>
<a href="http://patternico.com/#vdkxPVhNNO54BFcr">Patternico - OTIMO</a>
<a href="http://bgpatterns.com/">BGPatterns</a>

<a href="https://www.toptal.com/designers/subtlepatterns/">TopTal</a>
<a href="https://css-tricks.com/snippets/css/stack-of-paper/">CSS-Trick</a>
<a href="https://freefrontend.com/css-paper-effect/">Free Frontend</a>



<div class="portlet">
  <router-outlet></router-outlet>
</div>
