<app-blockchain-menu></app-blockchain-menu>

<div class="container">
  <h1>Transacoes pendentes</h1>

  <app-transactions-table
    [transactions]="pendingTransactions">

  </app-transactions-table>

  <button class="btn btn-primary" (click)="minePendingTransactions()">
    Comecar mineracao
  </button>
</div>
