<button (click)="funcaoDeclarativaTeste()" class="btn btn-outline-primary">
  Popular
</button>
<button (click)="teste()" class="btn btn-outline-primary">
  Play
</button>
<br>

<!-- <div *ngFor="let item of vartmp" >
  <button (click)="execucao(item)" class="btn btn-outline-info">
    Operacao {{item}}
  </button>
</div> -->


<div *ngFor="let op of vartmp" class="tabela">
  <button (click)="execucao(op)" class="btn btn-outline-info">
    Operacao {{op}}
  </button>
  <table style="width:25%">
    <tr>
      <th>P</th>
      <th> {{ op }} </th>
      <th>Q</th>
    </tr>
    <tr *ngFor="let elem of p;index as i" >
      <td> {{ p[i] }} </td>
      <td> {{ operacao( p[i], q[i], op ) }}  </td>
      <td> {{ q[i] }} </td>
    </tr>
  </table>
</div>
<br>
<div *ngFor="let prep of arr;let i = index" >
  [ {{ i }} {{ prep }} ] <br>
</div>
