button {
  margin: 20px;
}
table {
  margin: 10px 10px;
  border: 1px dashed #0ff;
}
tr th {
  color: blue;
}
th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}


div {
  display: inline-block
}
