<div>
  <button class="btn btn-outline-success ml-2" (click)="salvarCookie()" >Salvar</button>
  <button class="btn btn-outline-primary ml-2" (click)="getCookie()" >Ler</button>
  <button class="btn btn-outline-danger ml-2" (click)="apagarCookie()" >Remover</button>
  <button class="btn btn-outline-warning ml-2" (click)="teste()" >Teste</button>
</div>
