<app-blockchain-menu></app-blockchain-menu>
<div class="container">
  <h1>Configuracoes</h1>
  <br>

  <div class="form-group">
    <label>Dificuldade</label>
    <input type="number" class="form-control" bindon-ngModel="blockchain.difficulty">
  </div>


  <br>

  <div class="form-group">
    <label>Recompensa da mineracao</label>
    <input type="number" class="form-control" [(ngModel)]="blockchain.miningReward">
  </div>
</div>
