<div class="galeria d-flex">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/img/snk.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Shingeki no Kyojin</h5>
      <p class="card-text">Há várias décadas atrás, a humanidade foi quase exterminada pelo súbito aparecimento de seres humanoides, conhecido como Titãs</p>
    </div>
    <div class="card-footer">
      <a target="_blank" href="https://pt.wikipedia.org/wiki/Shingeki_no_Kyojin" class="btn btn-primary">
        Acesse Wiki SNK
      </a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/img/mean.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">MEAN</h5>
      <ul class="list-group">
          <li class="list-group-item list-group-item-light">MongoDB</li>
          <li class="list-group-item list-group-item-light">Express</li>
          <li class="list-group-item list-group-item-light">Angular.js</li>
          <li class="list-group-item list-group-item-light">Node.js</li>
      </ul>
    </div>
    <div class="card-footer">
        <a target="_blank" href="https://pt.wikipedia.org/wiki/Shingeki_no_Kyojin" class="btn btn-primary">
          Acesse Wiki SNK
        </a>
    </div>
  </div>

</div>
