section {
      position: relative;
      top: 190px;
  }
  
  section form {
      text-align: center;
  }
  
  #idForm{
      margin: 0 auto;
      width: 650px;
  }
  
  #idForm label {
      display: block;
      text-align: center;
  }
  
  #idForm .divProgress {
        margin-top: -209px;
        text-align: center;
  }
  
  #idForm .divPaginasOcred {
        overflow: auto;
      text-align: center;
      position: relative;
      left: 551px;
      top: -30px;
      width: 265px;
      background: #ccc;
      height: 265px;
  }
  
  #idForm .divPaginasOcred li{
        width: 79%;
        text-align: center;
        list-style-type: none;
  }
  
  #idForm #myAlert {
        position: relative;
        top: -26px;
  }
  
  #idForm #labelEmailOcr {
        display: inline-block;
  }
  
  #idForm #divEmailOcr {
        position: absolute;
        top: 39px;
        left: 435px;
  }
  
  #idForm .btnOCR {
        position: relative;
        top: 79px;
        left: -61px;	
  }
  
  #divPainel {
        margin: 0 auto;
  }
  
  .loader {
    margin: -59px auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }