<div class="page-title">
  <h1 *ngIf="!post.id">
    <i class="fa fa-file"></i>
    Novo <small class="text-muted">Post</small>
  </h1>

  <h1 *ngIf="post.id">
    <i class="fa fa-file"></i>
    Edição do Post <small class="text-muted">{{post.titulo}}</small>
  </h1>

  <a routerLink="/posts" class="btn btn-secondary ml-auto">
    <i class="fa fa-arrow-left"></i> Voltar
  </a>

  <button class="btn btn-primary ml-1" (click)="salvar()" [disabled]="!frmCadastro.valid">
    <i class="fa fa-save"></i> Salvar
  </button>
</div>

<div class="portlet" [block-ui]="blockUi">

  <form #frmCadastro="ngForm" novalidate>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input-text
            label="Título"
            name="titulo"
            [(ngModel)]="post.titulo"
            [maxlength]="255"
            required>
          </input-text>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input-textarea
            label="Descrição"
            name="descricao"
            [(ngModel)]="post.descricao"
            [maxlength]="2000"
            required>
          </input-textarea>
        </div>
      </div>
    </div>
  </form>

</div>

<div class="portlet">
  <div class="portlet-title d-flex justify-content-between align-items-center">
    <span><i class="fa fa-comment"></i> Comentarios</span>
    <button (click)="abrirCriacaoOuEdicaoDeComentario()" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Adicionar Comentario</button>
  </div>

  <datagrid
    [data]="comentarios"
    [columns]="columns"
    [showActionsColumn]="true"
    sortable=false
    [initialColumnToSort]="0">

    <ng-template actions-column let-row="row" let-rowIndex="rowIndex">
      <button (click)="abrirCriacaoOuEdicaoDeComentario(rowIndex)" class="btn btn-primary btn-sm mr-1"><i class="fa fa-edit"></i></button>
      <button (click)="excluirComentario(rowIndex)" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></button>
    </ng-template>
  </datagrid>
</div>
