<!-- <div style="color: aquamarine">
  card storage works
</div> -->

<h1> {{ tipoStorage }} </h1>
<form>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">key</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" #key placeholder="chave">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Value</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" #value placeholder="valor">
    </div>
  </div>
</form>
<div *ngIf="tipoStorage === 'Cookie'" >
  <button class="btn btn-outline-success ml-2" (click)="salvarCookie(key.value, value.value)" >Salvar</button>
  <button class="btn btn-outline-primary ml-2" (click)="getCookie(key.value)" >Ler</button>
  <button class="btn btn-outline-danger ml-2" (click)="apagarCookie(key.value)" >Remover</button>
</div>
<div *ngIf="tipoStorage === 'Local'" >
  <button class="btn btn-outline-success ml-2" (click)="salvarLocalST(key.value, value.value)" >Salvar</button>
  <button class="btn btn-outline-primary ml-2" (click)="getLocalST(key.value)" >Ler</button>
  <button class="btn btn-outline-danger ml-2" (click)="apagarLocalST(key.value)" >Remover</button>
</div>
<div *ngIf="tipoStorage === 'Session'" >
  <button class="btn btn-outline-success ml-2" (click)="salvarSessionSt(key.value, value.value)" >Salvar</button>
  <button class="btn btn-outline-primary ml-2" (click)="getSessionSt(key.value)" >Ler</button>
  <button class="btn btn-outline-danger ml-2" (click)="apagarSessionSt(key.value)" >Remover</button>
</div>
