
<div *ngFor="let dado of dados" >
  <p>
    Dados: {{ dado | json }}
  </p>
</div>

<!-- <div style="visibility: hidden">
  <p>
    fila works!
  </p>

  <div>
    <input #inputTag type="number">
  </div>
  <div>
    <button class="btn btn-outline-warning" (click)="ocuparVaga( pessoas[numero.nativeElement.valueAsNumber] )">Enfileirar</button>

    <button class="btn btn-outline-primary" (click)="desocuparVaga()">Desenfileirar</button>
  </div>



  <p>
    {{ fila | json }}
  </p>

  <div>
    <label>
      Name:
      <input type="text" [formControl]="name">
    </label>


    <p>
      Nome: {{ name.value }}
    </p>
  </div>

  <button class="btn btn-outline-info" (click)="updateValue('Emidio')">
    Atualizar Valor
  </button>

  <div *ngFor="let pessoa of pessoas" >
    <p>
      Proprietario: {{pessoa.nome}} Idade: {{ pessoa.idade }}
    </p>
    <p>
      Dados sobre o veiculo:
      Placa {{ pessoa.veiculo.placa }} e modelo {{ pessoa.veiculo.modelo }}
    </p>
  </div>


  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label>
      First Name:
      <input type="text" formControlName="firstName">
    </label>
    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>
    <button class="btn btn-outline-success" type="submit" [disabled]="!profileForm.valid">
      Submit
    </button>
  </form>
</div> -->
