<app-blockchain-menu></app-blockchain-menu>

<div class="container">
  <h1>Criar Transacao</h1>
  <p>Transferir EmidioCoin para alguem</p>

  <br>

  <div class="form-group">
    <label>Do endereco</label>
    <input type="text" class="form-control" [(ngModel)]="walletKey.publicKey" disabled>
  </div>


  <div class="form-group">
    <label for="toAddress">Para endereco</label>
    <input type="text" class="form-control" [(ngModel)]="newTx.toAddress">
  </div>


  <div class="form-group">
    <label for="amount">Montante</label>
    <input type="number" class="form-control" [(ngModel)]="newTx.amount">
  </div>


  <button (click)="createTransaction()" class="btn btn-primary">Assinar e criar transacao</button>

</div>
