<div class="page-title">
  <div class="title">
    <h1>Página não encontrada!</h1>
  </div>
</div>
<p>
  Lamentamos, mas a página solicitada não foi encontrada. 
  A página pode ter sido desativada ou você introduziu um endereço inválido. 
  Por favor, verifique o endereço e tente novamente.
</p>
