<div class="d-flex align-items-center mb-3">
  <h1 class="my-0">Cadastro de Posts</h1>
  <a class="btn btn-outline-secondary ml-auto" routerLink="/posts"><i class="fa fa-arrow-left"></i> Voltar</a>
  <button class="btn btn-primary ml-1" [disabled]="!frmCadastro.valid" (click)="salvar()"><i class="fa fa-save"></i> Salvar</button>
  <button class="btn btn-primary ml-1" (click)="criarCurso()" [disabled]=true hidden>
    <i class="fa fa-save"></i> CriarCurso
  </button>
</div>

<div class="portlet" [block-ui]="blockUi">
  <form #frmCadastro="ngForm" novalidate>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input-text
            [label]="'Título'"
            [maxlength]="255"
            [(ngModel)]="post.titulo"
            name="titulo"
            required>
          </input-text>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input-textarea
            [label]="'Descrição'"
            [maxlength]="2000"
            [(ngModel)]="post.descricao"
            name="descricao"
            required>
          </input-textarea>
        </div>
      </div>
    </div>
  </form>
</div>


<div class="portlet" [block-ui]="blockUiComentarios">
  <div class="portlet-title d-flex justify-content-between">
    <h3 class="my-0">Comentarios</h3>
    <button class="btn btn-primary ml-1" (click)="abrirCriacaoOuEdicaoDeComentario()">
      <i class="fa fa-plus"></i> Adicionar comentario
    </button>
  </div>

  <datagrid
    [data]="dadosComentarios"
    [columns]="colunasComentarios"
    [showActionsColumn]="true"
    [initialColumnToSort]="0">

    <ng-template actions-column let-row="row" let-rowIndex="rowIndex">
      <button class="btn btn-primary btn-sm mr-1" (click)="abrirCriacaoOuEdicaoDeComentario(rowIndex)">
        <i class="fa fa-edit"></i>
      </button>
      <button class="btn btn-outline-danger btn-sm" (click)="excluir(rowIndex)">
        <i class="fa fa-trash"></i>
      </button>
    </ng-template>
  </datagrid>
</div>
