<a href="javascript: history.go(-1)">Box</a>
<div class="container">
  <div class="box">
    <div class="icon">
        <i class="fa fa-address-book"></i>
    </div>
  </div>
  <div class="box"></div>
  <div class="box"></div>
</div>


<input type="text" [value]='teste'>
