.container {
  position: relative;
  width: 1200px;
  height: 300px;
  padding: 0;
}

.container .box {
  position: relative;
  width: calc(370px - 20px);
  height: calc(300px - 30px);
  background: #ff9;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
}

.container .box .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 1;
}

.container .box:hover .icon {
  top: 20px;
}
