.modelLoginBox {
  background-image: url('../../../assets/img/yugioh/background-yugioh.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding: 10px 20px;

  // background-position: center;
  // background-size: cover;
}
.loginBox {
  position: relative;
  margin: 50px;
  width: 350px;
  height: 420px;
  padding: 80px 40px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5);

  // // CENTRALIZA
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

.loginIcon {
  width: 100px;
  height: 100px;
  // background: pink;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: calc(-100px/2);
  left: calc(50% - 50px);
}
h2 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
}

.loginBox p {
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  letter-spacing: 1px;

  // bordar no texto
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
}

.loginBox input {
  width: 100%;
  margin-bottom: 20px;
}


.loginBox input[type='email'],
.loginBox input[type='password'] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  font-size: 16px;
}
::placeholder {
  // color: rgba(255, 255, 255, 0.8);
}


.loginBox input[type='submit'] {
  border: none;
  outline: none;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.loginBox input[type='submit']:hover {
  background: #0870fa;
  color: white;
  font-weight: bold;
}

.loginBox a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.loginBox.magician-girl {
  background: rgba(185, 53, 179, 0.5);
  .loginIcon {
    background: pink;
  }

  input[type='submit'] {
    background-color: rgba(139, 0, 127, .5);
    color: aqua;
  }

  input[type='email'],
  input[type='password'] {
    color: yellow;
  }

  input[type='submit']:hover {
    background: purple;
  }

  h2 {
    color: #efed40;
  }
  p {
    color: darkorchid;
  }
  a {
    color: pink;
  }

  ::placeholder {
    color: yellow
  }

}

.loginBox.dark-magician {
  background: radial-gradient(rgb(255, 255, 255), rgba(55, 36, 160, 0.5));
  .loginIcon:hover {
    // background: purple;
    border-radius: 0%;
    // transition-duration: .5s;
    transition: 1s;
  }

  input[type='submit'] {
    background-color: rgba(28, 185, 206, 0.5);
    color: purple;
  }

  input[type='email'],
  input[type='password'] {
    color: purple;
  }

  input[type='submit']:hover {
    background: aqua;
  }

  h2 {
    // transform: rotate(-10deg) skew(25deg);
    animation: animateShadow 5s ease-in-out infinite;
    color: #711ce0;
  }
  p {
    color: rgb(53, 50, 204);
  }
  a {
    // color: pink;
  }

  ::placeholder {
    color: purple;
  }

}


@keyframes animateShadow {
  0%, 100% {
    transform: rotate(-10deg) skew(25deg) translate(0, 0);
    text-shadow: -5px 5px 0 rgba(45, 150, 250,.2);
  }
  50% {
    transform: rotate(-10deg) skew(25deg) translate(20px, -20px);
    text-shadow: -20px 20px 0 rgba(17, 126, 228, 0.685);
  }
}



.loginBox.yami-yugi {
  background: radial-gradient(rgba(185, 53, 179, 0.5), rgba(55, 36, 160, 0.5));
  .loginIcon:hover {
    transform: scale(1.2);
  }

  input[type='email'],
  input[type='password'] {
    border-bottom: 1px solid #0ff;
    color: #0ff;
  }
  ::placeholder {
    color: #0ff;
  }

  input[type='submit']:hover {
    background: rgba(55, 36, 160, 0.5);
  }
  input[type='submit'] {
    font-weight: 700;
    font-style: italic;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: radial-gradient(#fff, #0ff);
  }

  h2 {
  }
  p {
    color: #0ff;
  }
  a {
    color: #f0f;
  }
}


.neon {
  color: white;
  transform: scale(1.3);
  text-shadow: 0 0 20px #ff005b;
}
.neon:after {
  content: attr(data-text);
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #fff;
  opacity: .5;
  filter: blur(10px);
}
.neon::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 70px;
  width: 80%;
  background: #fe3a80;
  border-radius: 30px;
  opacity: .5;
  filter: blur(4px);
}


.bgNeos {
  background-image: url('../../../assets/img/yugioh/ElementalHERONeos-DAR.png');
  background-size: 100% 100%;
}

.bgNeos:hover {
  background: url('../../../assets/img/yugioh/JadenYuki-DAR.png');
  background-size: 100% 100%;
}


.loginBox.jaden-yuki {
  background: radial-gradient(white, rgba(185, 53, 179, 0.5), yellow, rgba(55, 36, 160, 0.5), yellow);
  .loginIcon:hover {
  }
  form {
    border: 4px dotted #07ab00;
  }

  input[type='email'],
  input[type='password'] {
    border-bottom: 1px solid #07abff;
    color: red;
  }
  ::placeholder {
    color: red;
  }

  input[type='submit']:hover {
    // background: rgba(55, 36, 160, 0.5);
    transform: scale(1.2);
  }
  input[type='submit'] {
    font-weight: 700;
    font-style: italic;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #f0f;
    background: radial-gradient(#fff, #0ff, yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }

  h2 {
  }
  p {
    text-align: center;
    color: brown;
    letter-spacing: 2px;
  }
  a {
    position: relative;
    color: #12f000;
    // background: #07abff;
    text-align: center;
    letter-spacing: 3px;
    margin-left: calc(50% - 90px);
    text-transform: uppercase;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
  }
}

.loader h2 {
  text-transform: uppercase;
  // background: -webkit-linear-gradient(#eee, #333);

  -webkit-text-fill-color: transparent;
  background-image: url('../../../assets/img/imagem.png');
  background-repeat: repeat-x;
  -webkit-background-clip: text;

  animation: animateImg 5s linear infinite;

  // BORDA TEXTO
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #000;
}

@keyframes animateImg {
  0% {
    background-position-y: 60px;
    background-position-x: 0px;
    // background-position: left 0px top 60px;
  }
  30% {
    background-position-y: 0px;
    background-position-x: 20px;
    // background-position: left 10px top 0px;
  }
  60% {
    background-position-y: -60px;
    background-position-x: 40px;
    // background: left 20px top -60px;
  }
  100% {
    background-position-y: -125px;
    background-position-x: 60px;
    // background: left 20px top -100px;
  }
}
