<a href="javascript: history.go(-1)">Voltar</a>

<div class="modelLoginBox">
  <div class="loginBox magician-girl">
    <img class="loginIcon" src="assets/img/yugioh/DarkMagicanGirlChibi.png" alt="">
    <h2>Dark Magician Girl</h2>
    <form action="">
      <p>Email</p>
      <input type="email" placeholder="Enter Email">
      <p>Password</p>
      <input type="password" placeholder="••••••••">
      <input type="submit" value="Sing In">
      <a href="">Forget Passowrd</a>
    </form>
  </div>
  <br>
  <div class="loginBox yami-yugi">
    <img class="loginIcon" src="assets/img/yugioh/YamiYugi-DAR.png" alt="">
    <h2 class="neon" data-text="Yami Yugi">Yami Yugi</h2>
    <form action="">
      <p>Email</p>
      <input type="email" placeholder="Enter Email">
      <p>Password</p>
      <input type="password" placeholder="••••••••">
      <input type="submit" value="Sing In">
      <a href="">Forget Passowrd</a>
    </form>
  </div>
  <div class="loginBox dark-magician">
    <img class="loginIcon" src="assets/img/yugioh/DarkMagician-DAR.png" alt="">
    <h2>Magician Dark</h2>
    <form action="">
      <p>Email</p>
      <input type="email" placeholder="Enter Email">
      <p>Password</p>
      <input type="password" placeholder="••••••••">
      <input type="submit" value="Sing In">
      <a href="">Forget Passowrd</a>
    </form>
  </div>
  <div class="loginBox jaden-yuki">
    <img class="loginIcon" src="assets/img/yugioh/JadenYuki-DAR.png" alt="">
    <div class="loader">
      <h2>Elemental Hero</h2>
    </div>
    <form class="bgNeos" action="">
      <p>Email</p>
      <input type="email" placeholder="Enter Email">
      <p>Password</p>
      <input type="password" placeholder="••••••••">
      <input type="submit" value="Sing In">
      <a href="">Forget Passowrd</a>
    </form>
  </div>
  <div class="loginBox">
    <img class="loginIcon" src="assets/img/yugioh/BusterBlader.png" alt="">
    <h2>Log In Basic</h2>
    <form action="">
      <p>Email</p>
      <input type="email" placeholder="Enter Email">
      <p>Password</p>
      <input type="password" placeholder="••••••••">
      <input type="submit" value="Sing In">
      <a href="">Forget Passowrd</a>
    </form>
  </div>

</div>
