.tela {
  width: 400px;
  height: 400px;
  background-color: aqua;
}

.controle {
  margin: 10px;
  // width: 200px;
  // height: 100px;
  // background-color: coral;
}

body {
  background-color: #63431c;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: impact;
  margin: 0;
  font-size: 35px;
  text-shadow: 0px -1px 0px rgba(255,225,31,0.4);
}
#fireCanvas {
  margin: 10px;
}
table {
  border-collapse: collapse;
  border: 1px solid #000;
}
td {
  width: 320px;
  height: 320px;
  border: 1px solid #000;
  text-align: center;
  vertical-align: center;
  font-family: arial;
  font-size: 30px;
  position: relative;
  font-weight: bold;
}
td.pixel {
  width: 80px;
  height: 80px;
  border: 1px solid orange;
}
.pixel-index {
  font-size: 20px;
  display: inline-block;
  position: absolute;
  top: 1px;
  right: 1px;
  color: #927450;
}
a {
  font-size: 20px;
  font-family: arial;
}
.margin {
  margin: 5px;
}

.controle {
  flex-wrap: wrap;
  .card {
    margin-left: 1%;
    button {
      margin: 1%;
    }
  }

}
