<h1 appControle >{{score}}</h1>
<div (keydown)="handleKeyboardEvent($event)" tabindex="1">
</div>
<table cellpadding="0" cellspacing="0">
  <tr>
    <td class="pixel">{{tabela[largura * 0]}}</td>
    <td class="pixel">{{tabela[largura * 0 + 1]}}</td>
    <td class="pixel">{{tabela[largura * 0 + 2]}}</td>
    <td class="pixel">{{tabela[largura * 0 + 3]}}</td>
  </tr>
  <tr>
    <td class="pixel">{{tabela[largura * 1]}}</td>
    <td class="pixel">{{tabela[largura * 1 + 1]}}</td>
    <td class="pixel">{{tabela[largura * 1 + 2]}}</td>
    <td class="pixel">{{tabela[largura * 1 + 3]}}</td>
  </tr>
  <tr>
    <td class="pixel">{{tabela[largura * 2]}}</td>
    <td class="pixel">{{tabela[largura * 2 + 1]}}</td>
    <td class="pixel">{{tabela[largura * 2 + 2]}}</td>
    <td class="pixel">{{tabela[largura * 2 + 3]}}</td>
  </tr>
  <tr>
    <td class="pixel">{{tabela[largura * 3]}}</td>
    <td class="pixel">{{tabela[largura * 3 + 1]}}</td>
    <td class="pixel">{{tabela[largura * 3 + 2]}}</td>
    <td class="pixel">{{tabela[largura * 3 + 3]}}</td>
  </tr>
</table>

<br>
<button class="btn btn-primary" (click)="reiniciar(3)" >Restart</button>



