<h1>Estrutura de Dados</h1>

<ul>
  <li>
    <a routerLink="fila"> Fila </a>
  </li>
  <li>
    <a routerLink="pilha"> Pilha </a>
  </li>
  <li>
    <a routerLink="data"> Data </a>
  </li>
</ul>

<h3>Exemplos</h3>

<!-- <app-fila [dados]="'oi'" ></app-fila> -->
<div>
  <router-outlet></router-outlet>
</div>
