<div [block-ui]="blockUi">

  <ui-modal modalTitle="Cadastro de Comentarios" cancelButtonLabel="Cancelar">
    <div class="body">
      <form #frmCadastro="ngForm" novalidate>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <input-textarea label="Texto do comentario" name="texto"
                [(ngModel)]="comment.texto" [maxlength]="2000" required>

              </input-textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="actions">
      <button class="btn btn-primary" [disabled]="!frmCadastro.valid" (click)="salvar()">
        <i class="fa fa-save"></i> Salvar
      </button>
    </div>
  </ui-modal>

</div>
