<p *ngIf="transactions.length === 0">Nao hah transacao neste bloco<p>

<table class="table table-hover table-striped" *ngIf="transactions.length > 0" >
  <thead>
    <tr>
      <th scolpe="col">#</th>
      <th scolpe="col">De</th>
      <th scolpe="col">Para</th>
      <th scolpe="col">Montante</th>
      <th scolpe="col">Tempo</th>
      <th scolpe="col">Valido?</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let tx of transactions;let i = index" >
      <td> {{ i }} </td>
      <td class="text-truncate" style="max-width: 100px">
        {{tx?.fromAddress}}

        <span *ngIf="tx.fromAddress === null">System</span>
      </td>

      <td class="text-truncate" style="max-width: 100px">
        {{tx?.toAddress}}
      </td>
      <td class="text-truncate" style="max-width: 100px">
        {{tx?.amount}}
        <span *ngIf="tx.fromAddress === null" class="text-muted"><br><small>(Block reward)</small></span>
      </td>

      <td class="text-truncate">
        {{tx?.timestamp}} <br>
        <span *ngIf="tx.fromAddress === null" class="text-muted"><small>{{ tx.timestamp | date: 'MMM d, y, HH:mm' }}</small></span>
      </td>
      <td style="max-width: 40px">
        {{tx?.valid}}
        <span *ngIf="tx.isValid()" style="color: green">OK</span>
        <span *ngIf="!tx.isValid()" style="color: red">x</span>
      </td>


    </tr>
  </tbody>
</table>
