<p>
  ocr works!
</p>

<div class="divForm form-group">
  <form #formOCR id="formOCR" enctype="multipart/form-data">
    <input
      type="file"
      id="inputOCR"
      name="imagem"
      required
      accept="application/pdf"
    />
  </form>
</div>
<br><br><br><br>
<button (click)="obterProcessos(formOCR)">
  carregar processos
</button>
