<app-fila [dados]="pessoas">
</app-fila>


<div class="row">
  <div class="col-6" style="margin: auto">
      <button class="btn btn-outline-danger" (click)="ocuparVaga(vagas[0], pessoas[0])">
        Pessoa 1 ocupar vaga 1
      </button>
      <button class="btn btn-outline-primary" (click)="ocuparVaga(vagas[1], pessoas[1])">
          Pessoa 2 ocupar vaga 2
      </button>
  </div>
</div>

<div *ngFor="let vaga of vagas" >
  <p>
    Vaga: {{ vaga.automovel ? "ocupada" : "disponivel" }}
  </p>
</div>
