<div [block-ui]="blockUi">
  <ui-modal [modalTitle]="editando ? 'Edicao do comentario' : 'Novo Comentario'">
    <div class="body">

      <form #frm="ngForm" novalidate>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <input-textarea
               label="texto"
               name="texto"

               [(ngModel)]="comentario.texto"
               [maxlength]=2000
               required>
              </input-textarea>
            </div>
          </div>
        </div>
      </form>

    </div>
    <div class="actions">
      <button (click)="salvar()" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
    </div>
  </ui-modal>

</div>


