<nav class="navbar navbar-dark bg-dark">
  <a href="" class="navbar-brand" routerLink="/blockchain">
    EmidioCoin
  </a>

  <div>
    <button class="btn btn-outline-light" routerLink="/blockchain/settings">Configuracoes</button>
    &nbsp;
    <button class="btn btn-outline-light" routerLink="/blockchain/new/transaction">Criar Transacao</button>
    &nbsp;
    <button class="btn btn-outline-light" routerLink="/blockchain/new/transaction/pending">Transacao Pendente</button>
  </div>
</nav>
