<div class="page-title">
  <h1>Consulta de Posts</h1>

  <button class="btn btn-outline-success ml-auto"
    (click)="carregarTela()">
    <i class="fa fa-refresh"></i> Recarregar
  </button>

  <a class="btn btn-primary ml-1" routerLink="/posts/novo">
    <i class="fa fa-plus"></i> Novo post
  </a>
</div>

<div class="portlet" [block-ui]="blockUi">
  <div class="row mb-3">
    <div class="col">
      <input 
        type="text" 
        class="form-control form-control-lg"
        [(ngModel)]="busca"
        placeholder="Digite aqui para buscar um Post por título..."
        debounce (callback)="carregarTela()" />
    </div>
  </div>

  <datagrid 
    [data]="data" 
    [columns]="columns" 
    [allowExports]="true"
    [showActionsColumn]="true"
    [initialColumnToSort]="0">

    <ng-template actions-column let-row="row" let-rowIndex="rowIndex">
      <a class="btn btn-primary btn-sm mr-1" [routerLink]="['/posts', row.id, 'edicao']">
        <i class="fa fa-edit"></i>
      </a>
      <button class="btn btn-outline-danger btn-sm" (click)="excluir(row)">
        <i class="fa fa-trash"></i>
      </button>
    </ng-template>
  </datagrid>
</div>
