<div class="card">
  <div class="card-body">
    <h5 class="card-title">Bloco <small class="text-muted" *ngIf="block.previousHash == 0">(Bloco Genesis)</small></h5>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <span>Hash</span>
      <br>
      <div class="text-truncate">
        <small [style.color]="'#' + block.hash.substring(0,6)">
          {{ block.hash }}
        </small>
      </div>
      <br>

      <span>Hash do bloco anterior</span>
      <br>

      <div class="text-truncate">
        <small [style.color]="'#' + block.hash.substring(0,6)">
          {{ block.previousHash }}
        </small>
      </div>
    </li>


    <li class="list-group-item">
      <span>Nonce</span><br>
      <div class="text-truncate text-muted">
        <small>
          {{ block.nonce }}
        </small>
      </div>
    </li>

    <li class="list-group-item">
      <span>Timestamp</span><br>
      <div class="text-truncate text-muted">
        <small>
          {{ block.timestamp }}
        </small>
      </div>
    </li>
  </ul>
</div>
