<h1>Promise</h1>
<ul>
  <li>Único valor</li>
  <li>Execussão imediata(Eager)</li>
  <li>Compartilhada(multicast)</li>
  <li>Assincronas</li>
  <li>Não cancelável</li>
</ul>

<h1>Observable</h1>
<ul>
  <li>Múltiplos valores</li>
  <li>Execussão sob demanda(Lazy)</li>
  <li>Compartilhada ou não(multicast/unicast)</li>
  <li>Sincronas ou Assincronas</li>
  <li>Cancelável</li>
</ul>

<button id="botao" class="botao">Botao para teste</button>
